/*--------------------------------------------------------------
# moon  syjhon
--------------------------------------------------------------*/

.scene {
    position: relative;
    width: 70%;
    aspect-ratio: 16/9;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .moon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #f9f9f9; /* Color original de la luna */
    position: absolute;
    top: 7%; /* Coloca la luna a 10% del borde inferior de la imagen */
    left: 70%;
    transform: translate(-50%, 0); /* Centro horizontalmente */
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
    transition: background-color 1s, box-shadow 1s;
    z-index: 1; /* Asegura que la luna esté por encima de la imagen */
  }
    
  .moon-glow {
    position: absolute;
    top: -25%;
    left: -25%;
    right: -25%;
    bottom: -25%;
    border-radius: 50%;
    filter: blur(20px);
    opacity: 0.5;
    transition: background-color 1s, transform 1s;
    pointer-events: none; /* Evita que el difuminado bloquee eventos de mouse */
    z-index: 1; /* Asegura que el resplandor esté por encima de la imagen */
  }
  .eclipse-text {
    position: absolute;
    bottom: 8%;
    left: 5%;
    color: white;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1000; /* Asegura que el texto esté por encima de todos los elementos */
  }
  .blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Color de desenfoque (puedes cambiarlo) */
    filter: blur(0px);
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none; /* Para que el div no bloquee el mouse */
    z-index: 1; /* Asegura que el efecto de desenfoque esté por encima de la imagen */
  }
  
  .moon:hover {
    background-color: #4668ff; /* Color de la luna durante el eclipse (ejemplo: naranja) */
    box-shadow: 0 0 20px 5px rgba(78, 75, 255, 0.8), inset -120px 0 0 0 rgba(0, 0, 0, 1); /* Cambiar la sombra para que coincida */
    z-index: 2;
  }
  
  
  .moon:hover + .eclipse-text {
    opacity: 1;
  }
  .moon:hover ~ .blur-effect {
    opacity: 1; /* Muestra el efecto de desenfoque al pasar el mouse sobre la luna */
  }
  
  @media (max-width: 768px) {
    .moon {
      width: 40px;
      height: 40px;
  }
  
  }
